.nav {
  margin: 1rem;
}

.logo {
  display: flex;
  justify-content: left;
  border-style: solid;
  border-width: 1px;
}

.navItems {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  padding: 1rem;
}

.footer {
  margin: 1rem;
}

.footerItems {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
}

#dashboard {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5px 20px;
}

.list {
  margin: -3px;
}
.listItems {
  list-style: none;
  text-align: left;
  margin: -2px 0 0px -35px;
}

#filterContainer {
  text-align: right;
  padding: 20px;
  box-shadow: 0px 0px 5px -1px rgb(122, 122, 122);
  /* border-radius: 20px; */
  margin: 0 25px 0 0;
  height: 300px;
  width: 200px;
}

#detailsLink {
  font-weight: 500;
  color: rgb(209, 0, 0);
  text-decoration: underline;
  display: flex;
  flex-direction: row;
}

#viewDetails {
  margin: 0 5px 0 0;
}

#openBox {
  width: 100px;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(25, 180, 64);
  font-weight: 600;
}

#inProgressBox {
  color: white;
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(205, 73, 128);
  font-weight: 600;
}

#completedBox {
  color: white;
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(150, 150, 150);
  font-weight: 600;
}
