/* Styling for header component */

.nav {
  margin: 0 0 40px 0;
  background-color: rgb(235, 86, 86);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#heading {
  font-weight: 300;
  color: white;
  margin: 5px 0 0 20px;
}

#headerLink {
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: left;
  padding: 20px 10px;
  margin: 0 10px;
}
#navItems {
  display: flex;
  flex-direction: row;
  margin: 43px 30px -10px 0;
  max-height: 36px;
  gap: 20px;
}

/* Styling for footer component  */

#content-wrap {
  overflow: auto;
  display: block;
  position: relative;
  height: 100vh;
  margin-bottom: -30px;
}

.footer {
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
  background-color: rgb(235, 86, 86);
  color: white;
}

.footerItems {
  display: flex;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 200;
  justify-content: center;
  padding: 7px;
}

/* Styling for dashboard component  */

#dashboard {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  padding: 0 20px;
}
#blankspace {
  position: absolute;
  height: 500px;
}
.list {
  margin: -3px;
}
.listItems {
  list-style: none;
  text-align: left;
  margin: -2px 0 0px -35px;
}

#filterContainer {
  text-align: right;
  padding: 20px;
  /* box-shadow: 0px 0px 5px -1px rgb(122, 122, 122); */
  border-radius: 20px;
  border: 5px dotted rgb(235, 86, 86);
  margin: 0 25px 0 0;
  height: 400px;
  width: 200px;
}
#greetingBox {
  margin: 5px 0 69px 0;
}
#detailsLink {
  font-weight: 500;
  color: rgb(209, 0, 0);
  text-decoration: underline;
  display: flex;
  flex-direction: row;
}

#viewDetails {
  margin: 0 5px 0 0;
}

#openBox {
  width: 100px;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(25, 180, 64);
  font-weight: 600;
}

#inProgressBox {
  color: white;
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(205, 73, 128);
  font-weight: 600;
}

#completedBox {
  color: white;
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(150, 150, 150);
  font-weight: 600;
}

/* Single evaluation component */
#singleEval {
  margin: 20px;
}
